.pa {color:rgb(34, 255, 0);}
.azul{color:rgb(19, 183, 220);}
        .letra{color:rgb(249, 14, 10);}
        span.letra2{color:rgb(0, 255, 162);  
        font-weight: bold;
    font-size: 34px;
    }
    .letra2{color:rgb(255, 166, 0);  
        font-weight: bold;
    font-size: 34px;
    }